body {
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
  border: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
p{
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
}


.navbar-inverse {
    background-color: #383E4C;
    border-color: #383E4C;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar{
	text-align:center;
}
ul#menu li{
	display: inline-block;
	padding: 10px;
}
ul#menu li a {
  background: #383E4C none repeat scroll 0 0;
  border: 1px solid #646d7c;
  color: #fff;
  font-size: 20px;
  padding: 15px 25px;
  -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
  
  
}
 ul#menu li a:focus,
ul#menu li a:hover {
  background: #49505F;
}

header {
  background-image: url("../img/bg-1.jpg");
/*  background-position: center center;
*/  background-repeat: no-repeat;
  /*background-size: cover;*/
  padding: 235px 0;
 /* margin-bottom: 60px;*/
  /*background-attachment: fixed;*/
  /*background-size: 100% 100%;*/
}

.header-content  h1 {
  color: #fff;
  font-size: 70px;
  text-shadow: 2px 2px #000;
  
}
.header-content h4 {
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 1px #333;
}

.bg-2image{
	/*width:1800px;
	height:300px;*/
	background-image:url(../img/bg-2.jpg);
	background-repeat:no-repeat;
	padding:100px 0px;
}
.bg-3image{
	/*width:1800px;
	height:300px;*/
	background-image:url(../img/bg-3.jpg);
	background-repeat:no-repeat;
	padding:230px 0px;
}
.green-text { color: #178A27; }
.blue-text { color: #1686C1; }
.gray-text { color: #1686C1; }
.green-btn { background: #178A27; }
.green-btn:hover { background: #449D44; }
.blue-btn { background: #1686C1; }
.blue-btn:hover { background: #31B0D5; }
.red-btn { background: #852406; }
.red-btn:hover { background: #C9302C; }
.feature-content {
    background: #F2F2F2;
    padding-bottom: 40px;
}
.feature-content-title {
    padding: 0 20px;
    text-align: left;    
}
.feature-content-description {
    padding: 0 20px 35px;
    text-align: left;
    color: #333333;
    margin-top: 15px;
}
.feature-content-link {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.feature-content-link:hover, .feature-content-link:link, .feature-content-link:visited  {
  color: white;
  text-decoration: none;
}

/* End Feature CSS */

.blog-content {
  background: #F2F2F2;
  padding-bottom:25px;
  max-width: 555px;
  margin: 0 auto;
}
.blog-content h2 {
    color: #666666;
    text-transform: capitalize;
}
.blog-content p {
    padding: 27px;
    text-align: left;
    color: #333333;
}